@import './../../../../../../styles/variables';

.wal-input {

	input {
		padding: 14px;
		margin-top: 0;
		font: inherit;
		background: transparent;
		color: currentColor;
		border: 1px solid rgb(203 213 225);
		outline: none;
		border-radius: 6px;

		margin: 10px 0;
		width: 100%;
		max-width: 100%;
		vertical-align: bottom;
		text-align: inherit;
		box-sizing: border-box;
	}

	input:focus {
		border-color: $primary-color;
	}

	input:disabled {
		background: #393e4654;
    	opacity: 0.3;
	}
}
