<div [walGrid]="2">
	<wal-card>
		<h2>Inputs</h2>
		<wal-input-text label="nome"></wal-input-text>
		<wal-input-text label="password"></wal-input-text>
		<wal-input-text></wal-input-text>
	</wal-card>
	<wal-card>

		<wal-radio name="tipo">Tipo A</wal-radio>
		<wal-radio name="tipo">Tipo B</wal-radio>
		<wal-radio name="tipo">Tipo C</wal-radio>

		<h2>Outro Radio Horizontal </h2>
		<div wal-direction-horizontal>
			<wal-radio name="categoria">Categoria A</wal-radio>
			<wal-radio name="categoria">Categoria B</wal-radio>
		</div>


		<wal-checkbox>Topo</wal-checkbox>
		<wal-checkbox>Meio</wal-checkbox>
		<wal-checkbox>Embaixo</wal-checkbox>


	</wal-card>
</div>
