<nav class="navigation" #navigationSidebar>
	<ul>
		<li>
			<a href="#">
				<img [src]="brandDevicedSelected" alt="" />
			</a>
		</li>
		<li [routerLink]="['/home']" routerLinkActive="active" >
			<a>
				<span class="icon">
					<span class="material-icons-outlined">home</span>
				</span>
				<span class="title">Inicio</span>
			</a>
		</li>
		<li [routerLink]="['/tickets']" routerLinkActive="active" >
			<a>
				<span class="icon">
					<span class="material-icons-outlined">receipt</span>
				</span>
				<span class="title">Boletos</span>
			</a>
		</li>
		<li [routerLink]="['/payments']" routerLinkActive="active" >
			<a>
				<span class="icon">
					<span class="material-icons-outlined">payments</span>
				</span>
				<span class="title">Pagamentos</span>
			</a>
		</li>
		<li [routerLink]="['/devedores']" routerLinkActive="active" >
			<a>
				<span class="icon">
					<span class="material-icons-outlined">account_balance</span>
				</span>
				<span class="title">Devedores</span>
			</a>
		</li>
		<li [routerLink]="['/settings']" routerLinkActive="active" >
			<a>
				<span class="icon">
					<span class="material-icons-outlined">settings</span>
				</span>
				<span class="title">Configuração</span>
			</a>
		</li>
	</ul>
</nav>
