@use "variables" as *;

.wal-select {

	display: flex;
	flex-direction: column;

	p-select  {

		width: 100%;
		padding: 7px;
		border-radius: 6px;
		margin: 10px 0;

		.p-select:not(.p-disabled):hover {
			border-color: $primary-color;
		}

		.p-select:not(.p-disabled).p-focus {
			box-shadow: none;
			border-color: rgb(203 213 225);;
		}

		.p-select-panel .p-select-items .p-select-item.p-highlight {
			color: $third-color;
			background: $four-color;
		}
	}
}
