<div [walGrid]="4">
	<wal-card class="border-left-green">
		<div class="wal-header-card">
			<div class="wal-header-card__info green">
				<h2>Gastos Atuais</h2>
				<p>R$ 6.876,98</p>
			</div>
			<span class="material-icons-outlined green"> attach_money </span>
		</div>
	</wal-card>

	<wal-card>
		<div class="wal-header-card">
			<div class="wal-header-card__info orange">
				<h2>Limite Mensal</h2>
				<p>R$ 6.876,98</p>
			</div>
			<span class="material-icons-outlined orange">
				account_balance_wallet
			</span>
		</div>
	</wal-card>

	<wal-card>
		<div class="wal-header-card">
			<div class="wal-header-card__info blue">
				<h2>Contas em Aberto</h2>
				<p>4</p>
			</div>
			<span class="material-icons-outlined blue">payments</span>
		</div>
	</wal-card>
	<wal-card>
		<div class="wal-header-card">
			<div class="wal-header-card__info pupple">
				<h2>Vencimento</h2>
				<p>05/03/2022</p>
			</div>
			<span class="material-icons-outlined pupple"> event </span>
		</div>
	</wal-card>
</div>

<div walGrid="1fr 2fr">
	<wal-card>
		<div>
			<h2>Categorias</h2>
			<canvas #myChartDoughnut></canvas>
		</div>
	</wal-card>
	<wal-card>
		<div>
			<canvas #myChartBar></canvas>
		</div>
	</wal-card>
</div>

<div walGrid="2fr 1fr">
	<wal-card>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dicta
		blanditiis sit animi consectetur aliquid deserunt obcaecati et.
		Similique deleniti molestias quaerat voluptas voluptates harum explicabo
		modi aliquam quibusdam soluta. Nisi quod id cum laudantium inventore
		magni facere deserunt, repudiandae dolorem minus officia consequatur, ad
		magnam temporibus nostrum praesentium? Autem neque sequi nam. Nobis
		animi exercitationem eius placeat neque dolores. Illum asperiores hic
		totam veritatis nesciunt odio error labore numquam magnam voluptates,
		velit, voluptate natus iusto quam corporis neque quis quos fugit harum,
		impedit vitae nisi perspiciatis. Natus, inventore perferendis! Eos
		numquam est sed omnis ducimus, quis mollitia aut quos quaerat obcaecati
		tempora tenetur quia laudantium natus voluptas et facere non eius dolore
		at accusamus. Hic repellat eveniet numquam obcaecati! Quod reprehenderit
		odit totam alias impedit vel qui veritatis vero aperiam nobis est dicta
		placeat delectus iure, non animi minus id commodi laborum quos quaerat
		corporis sed? Et, impedit similique! Ipsum impedit maiores atque
		eligendi. Dolorum, iure quo necessitatibus nesciunt perspiciatis, totam
		corrupti eveniet vel sint animi rem, doloremque enim? Similique totam at
		amet saepe laborum placeat itaque, explicabo iste? Maxime cum expedita
		tenetur possimus soluta, voluptatibus ad nesciunt delectus officia ipsum
		quam illo omnis nemo minima velit molestias tempora repellendus labore
		deserunt rerum ex mollitia modi voluptate corporis. Facilis. Aut itaque
		qui repellendus eos nesciunt aliquid cum sint, consectetur a fuga
		quaerat doloribus, reprehenderit laboriosam, quam ratione velit eaque!
		Nobis sequi corrupti dignissimos. Eum autem necessitatibus soluta quis
		praesentium! Possimus esse quibusdam dignissimos! Doloremque inventore
		quaerat non. Excepturi dignissimos eum iure reiciendis vel rerum
		molestias architecto, maiores, nesciunt, impedit quis enim harum esse
		consequuntur fuga suscipit sunt. Cumque, architecto. Sint magni
		laboriosam quidem voluptate dolores, dolorum itaque dolorem architecto,
		in porro facilis aspernatur. Temporibus magni voluptates repellat
		impedit, eligendi a numquam ex adipisci deserunt asperiores
		necessitatibus rerum doloremque quae.
	</wal-card>
	<wal-card>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
		consequatur laborum officiis odit possimus iure earum et ut eaque
		praesentium nihil, blanditiis ipsa. Expedita officiis mollitia cumque
		temporibus, tempora iusto!
	</wal-card>
</div>
