<div wal-grid-2>
	<wal-card>
		R$ 1456,00
	</wal-card>
	<wal-card>
		R$ 1456,00
	</wal-card>
</div>
<wal-card>

	<h1>Pagamentos</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, eligendi?</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore doloribus id totam dolor molestias at non qui libero cumque ab eos quam veritatis, laborum, eligendi, provident maiores et autem amet.
	Accusantium officia praesentium id, nobis cumque laudantium nesciunt qui dolore minus, placeat aliquam! Est, tempora optio accusantium sed ab esse totam deleniti eius ducimus, iure doloribus neque dolorum aut magni.
t consequuntur quidem vel? Ducimus tenetur dolores voluptate necessitatibus tempora non expedita voluptatem inventore odit vel?
	Id animi odit assumenda quo. Nulla est neque harum molestiae sequi? Non voluptas similique fuga quaerat nostrum quibusdam, natus quod perspiciatis illo ad, possimus quos dolorem in ipsam voluptates amet!
	Repellendus dolor voluptatibus itaque deleniti eum fugit voluptate, dolore corporis molestiae modi. At consequatur, porro quidem nobis, libero sint tenetur velit dignissimos saepe nulla rem dolorem iusto magni obcaecati fugiat.
	Saepe possimus natus cupiditate ipsa consequatur sequi a dicta harum sunt ab, odit quod qui velit eos. Excepturi, explicabo beatae at iusto laboriosam officiis similique odit voluptatem veritatis, ducimus impedit!
	Aliquam dolore soluta exercitationem voluptas delectus perferendis excepturi vel laboriosam impedit perspiciatis dicta quae, distinctio doloremque dolores voluptatum id odit atque dolor praesentium facere laborum molestiae. Aliquam eveniet maxime repellat.
	Iste, ullam. Mollitia vitae id est dolorem culpa dicta atque maxime numquam tempora, libero adipisci consequuntur eveniet eum nam, expedita consectetur voluptatem sunt molestias, quod eaque eligendi. Consequuntur, harum eius.
	Vitae nihil commodi impedit ipsam, deleniti animi officia molestias harum qui incidunt hic doloremque quaerat repellendus ratione quam quasi quidem aliquam odit. Quam rem odit est beatae, provident perferendis tempora.
	Optio harum consequatur magni enim consectetur reiciendis saepe laborum, possimus veritatis necessitatibus cupiditate beatae ducimus ad excepturi nesciunt aperiam quibusdam? Odit nihil quam dolorum aspernatur impedit ipsa sapiente molestias minus!
	Quidem omnis, debitis totam id, repellendus tenetur, sunt itaque consequuntur reprehenderit facere corporis odio ratione ut pariatur voluptate obcaecati praesentium cupiditate expedita? Tempore aperiam maiores modi expedita, ex pariatur veritatis.</p>

</wal-card>
