<div [walGrid]="3">
	<wal-card class="border-left-green">
		<div class="wal-header-card">
			<div class="wal-header-card__info green">
				<h2>Gastos Atuais</h2>
				<p>R$ 6.876,98</p>
			</div>
			<span class="material-icons-outlined green"> attach_money </span>
		</div>
	</wal-card>

	<wal-card>
		<div class="wal-header-card">
			<div class="wal-header-card__info orange">
				<h2>Limite Mensal</h2>
				<p>R$ 6.876,98</p>
			</div>
			<span class="material-icons-outlined orange">
				account_balance_wallet
			</span>
		</div>
	</wal-card>

	<wal-card>
		<div class="wal-header-card">
			<div class="wal-header-card__info blue">
				<h2>Contas em Aberto</h2>
				<p>4</p>
			</div>
			<span class="material-icons-outlined blue">payments</span>
		</div>
	</wal-card>
</div>

<div [walGrid]="2">
	<wal-card>
		<div>
			<canvas #myChartBar></canvas>
		</div>
	</wal-card>
	<wal-card>
		<div>
			<canvas #myChartDoughnut></canvas>
		</div>
	</wal-card>
</div>
