@import 'variables';

.wal-header-card {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__info {
		h2 {
			font-size: 18px;
			font-weight: bold;
		}
		p {
			font-size: 21px;
			margin: 8px 0;
		}
	}

	& > span {
		font-size: 50px;
	}

	.green {
		color: #29a304;
	}

	.orange {
		color: #e28a06;
	}

	.blue {
		color: #0641e2;
	}

	.pupple {
		color: #bd06e2;
	}

	.red {
		color: #e20606;
	}

}

@media (max-width: 1500px) {
	.header-cards {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media (max-width: 600px) {
	.header-cards {
		grid-template-columns: 1fr !important;
	}

}
