
<div walGrid="1fr 2fr">

	<wal-card>
		<p>payments works!</p>

		Lorem ipsum dolor sit a facere maiores eos reiciendis alias ipsam a aspernatur sapiente nemo minima nisi consequuntur explicabo, est iure sit quo quia neque nulla? Maiores nisi possimus sed.
		Totam, eum corrupti culpa sapiente officia laboriosam nemo nulla dolor placeat cupiditate facilis, velit quae aliquid minima, ad consectetur praesentium debitis ullam quos explicabo! Sit, laborum cumque! Nam, atque eaque?
	</wal-card>
	<wal-card>
		<p>payments works!</p>

		Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, sunt!
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga ullam laboriosam voluptatibus et est, ipsam soluta reprehenderit accusantium blanditiis numquam assumenda neque consequuntur iste tenetur! Totam maiores ducimus ipsam amet.
		Qui quae rem minus temporibus facere maiores eos reiciendis alias ipsam a aspernatur sapiente nemo minima nisi consequuntur explicabo, est iure sit quo quia neque nulla? Maiores nisi possimus sed.
		Totam, eum corrupti culpa sapiente officia laboriosam nemo nulla dolor placeat cupiditate facilis, velit quae aliquid minima, ad consectetur praesentium debitis ullam quos explicabo! Sit, laborum cumque! Nam, atque eaque?
	</wal-card>
</div>
