/* You can add global styles to this file, and also import other style files */
@use 'src/styles/_reset.scss';
@use 'variables' as *;

body {
    min-height: 100vh;
    overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	background-color: $four-color;
}

h1 {
	font-weight: 300;
	font-size: 36px;
	color: $secondary-color;
}
